<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Milestoner.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Milestoner.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Milestoner.My.MySettings>
            <setting name="task_duration" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="task_depend" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="task_list" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="users_list" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>admin</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="task_users" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                        <string>admin</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="webhook" serializeAs="String">
                <value />
            </setting>
        </Milestoner.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Milestoner.My.MySettings>
            <setting name="task_list_default" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                        <string>Subtask</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="task_depend_default" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                        <string>1</string>
                        <string>2</string>
                        <string>3</string>
                        <string>4</string>
                        <string>5</string>
                        <string>6</string>
                        <string>7</string>
                        <string>8</string>
                        <string>9</string>
                        <string>10</string>
                        <string>11</string>
                        <string>12</string>
                        <string>13</string>
                        <string>14</string>
                        <string>15</string>
                        <string>16</string>
                        <string>17</string>
                        <string>18</string>
                        <string>19</string>
                        <string>20</string>
                        <string>21</string>
                        <string>22</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="task_duration_default" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Milestoner.My.MySettings>
    </applicationSettings>
</configuration>